.calendar {
  height: 100%;
  padding-left: 45px;
  margin-top: 35px;
  flex: 1;

  > div {
    height: 100%;
    box-sizing: border-box;
  }
}

.header {
  padding-top: 20px;
  p {
    font-size: 18px;
  }
}
