.page {
  position: relative;
  height: 100vh;
  background-color: #222;
  font-family: Mirza;
}

.content {
  padding: 28px 32px;
  display: flex;
  height: calc(100% - 100px);
}

.left,
.right {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.left {
  width: 380px;
}

.right {
  flex: 1;
  margin-left: 42px;
}

.calendar {
  height: 100%;
  padding-left: 45px;
  margin-top: 35px;
  flex: 1;

  > div {
    height: 100%;
    box-sizing: border-box;
  }
}
