.dot {
  position: relative;
  $color: var(--color);

  border-radius: 50%;
  background-color: $color;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 108px;
    background-color: $color;
    transform: translateX(-0.5px);
  }
}
