.todayGain {
	margin-bottom: 10px;
}

.starContainer {
	display: flex;
	justify-content: flex-end;
}


.empty {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;

	p {
		font-size: 16px;
	}
}