.desc {
  line-height: 22px;
  color: #fff;
  font-size: 14px;
}

.total {
  font-size: 24px;
}

.barLine {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  > div {
    height: 40px;
    margin-right: 2px;
  }
}
