.timeLabel {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 40px;
  color: #fff;
  line-height: 22px;

  p:nth-of-type(1) {
    font-weight: bold;
    font-size: 16px;
  }

  p:nth-of-type(2) {
    font-size: 12px;
  }
}
